name: Build
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  build:
    name: Lint and tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 16
          - 18
          - latest
        architecture:
          - x64
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        architecture: ${{ matrix.architecture }}
    - run: npm ci
    - run: npm run lint
    - run: npm test
